@import "./constants.scss";

.admin-wrapper {
    height: 100vh;
    padding-top: 70px;
    position: relative;

    .admin-content {
        background: #f0f2f5;
        overflow-y: auto;
        transition: 0.3s ease-in-out;
        .admin-title {
            font-family: "Fredoka One", cursive;
            color: $primary-color;
            width: 100%;

            .admin-title-hamburger {
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &:hover {
                    color: #4141bb;
                }
            }
        }
    }
    .admin-content.admin-narrow {
        padding-left: 210px !important;
    }

    .admin-dashboard {
        .admin-recent-logins {
            min-height: 260px;
            font-family: "Nunito", sans-serif;
            color: $primary-color;

            h3 {
                font-weight: bold;
            }
            li {
                color: $text-color;
            }
        }

        .admin-total-scans {
            min-height: 260px;
            font-family: "Nunito", sans-serif;
            color: $primary-color;

            h3 {
                font-weight: bold;
            }
            .admin-scans {
                .number-scan {
                    font-family: "Nunito", sans-serif;

                    h1 {
                        font-size: 65px;
                        font-weight: bold;
                        color: $primary-color;
                    }
                    h4 {
                        color: $text-color;
                    }
                }
            }
        }
    }

    .admin-logs {
        font-family: "Nunito", sans-serif;
        .admin-logs-main {
            width: 100%;

            .admin-logs-filter {
                .filter-search {
                    .btn-outline-primary {
                        color: $primary-color;
                        border-color: $primary-color;
                        &:hover {
                            background: $primary-color !important;
                            color: #ffffff;
                        }
                    }
                }
                .filter-date {
                    color: $primary-color;
                    .calendar-icon {
                        cursor: pointer;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            color: #4141bb;
                        }
                    }
                    h5 {
                        color: $text-color;
                        font-weight: bold;
                    }
                }
            }

            .admin-logs-table {
                .admin-logs-table-header {
                    background: $primary-color !important;
                    color: #ffffff;
                }
            }
        }
    }

    .admin-settings {
        .admin-recent-logins {
            min-height: 260px;
            font-family: "Nunito", sans-serif;
            color: $primary-color;

            h3 {
                font-weight: bold;
            }
            p {
                color: $text-color;
                font-weight: bold;
            }
        }

        .admin-total-scans {
            min-height: 260px;
            font-family: "Nunito", sans-serif;
            color: $primary-color;

            h3 {
                font-weight: bold;
            }
            .admin-scans {
                p {
                    font-weight: bold;
                }
            }
        }

        .admin-list {
            h3 {
                font-family: "Nunito", sans-serif;
                color: $primary-color;
                font-weight: bold;
            }
            .admin-list-table {
                .admin-logs-table-header {
                    background: $primary-color !important;
                    color: #ffffff;
                }
                .admin-list-edit {
                    color: $primary-color;
                    cursor: pointer;
                    &:hover {
                        color: #4141bb;
                    }
                }
            }
        }
    }

    .narrow {
        width: 50px;
    }

    .admin-content {
        width: 100%;
    }
}
