@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./constants.scss";

.footer {
    min-height: 90px;
    background: #f0f2f5;
    .footer-text {
        font-family: "Roboto", sans-serif;
        color: $primary-color;
    }
}
