@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import "./constants.scss";

.individual-home {
    // background: red;
    .home-qr-template {
        border: 2px solid #3f3e3e;
        background: #ffffff;
    }
    .home-qr-fullname {
        font-family: "Fredoka One", cursive;
        color: #3f3e3e;
        p {
            font-family: "Nunito", sans-serif !important;
            span {
                font-weight: bold;
                color: $primary-color !important;
            }
        }
    }
    .home-qr-title {
        font-family: "Fredoka One", cursive;
        color: $primary-color;
    }
    .home-qr-info {
        max-width: 250px;
    }
    .home-qr-info h5 {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        color: $primary-color;
    }

    .home-qr-info h6 {
        // font-family: "Roboto", sans-serif;
        font-family: "Nunito", sans-serif;
        color: $text-color;
    }

    .home-qr-download {
        .download-btn {
            background: $primary-color !important;
        }
    }
}
