@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./constants.scss";
.auth-body {
    font-family: "Roboto", sans-serif;
}
.auth-body input,
.auth-body select {
    border: 2px solid $text-color !important;
    background: transparent !important;
}

.auth-body .form-group .text-danger {
    margin-left: 14px;
    font-size: 13px;
}
.auth-body .btn-primary {
    border: none !important;
    background: $primary-color !important;
}

.forgot {
    .forgot-link {
        color: $primary-color !important;
    }
}

.auth-body .login-content {
    min-height: 500px;
    // background: aquamarine !important;
}
