@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import "./constants.scss";

.individual-profile {
    .profile-title {
        font-family: "Fredoka One", cursive !important;
        color: #3f3e3e;
        h5 {
            color: $primary-color !important;
        }
    }
    .form-group {
        input,
        select {
            border: 2px solid $text-color !important;
            background: transparent !important;
        }

        .input-active {
            border: 2px solid $primary-color !important;
        }
    }

    .profile-btn {
        .btn-wrapper {
            .btn {
                width: 90px;
            }
            .btn-primary {
                background: $primary-color !important;
            }
        }
    }
}
